
#content {
	background-color: white;
	position: relative;
	top: 100vh;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	box-shadow: 0 0 3px 3px grey;
}

#header {
	text-shadow:
		2px 2px 2px black,
		0 2px 2px black,
		-2px 2px 2px black,
		-2px 0 2px black,
		-2px -2px 2px black,
		0 -2px 2px black,
		2px -2px 2px black,
		2px 0 2px black;
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 100vh;
	user-select: none;
}

#header h1 {
	position: relative;
	text-align: center;
	margin-top: calc(50vh - 50px);
}

#header p {
	position: relative;
	text-align: center;
	
}

@font-face {
	font-family: 'segoe ui light';
	src: URL('assets/segoeuil.ttf') format('truetype');
}

body {
	font-family: 'segoe ui light';
	margin: 0;
	padding: 0;
}

canvas {
	position: fixed;
	display: inline-block;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

a {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

.collapsible {
	user-select: none;
}
/*
.collapsible+* {
	display: none;
}
*/
#footer img {
	width: 32px;
	height: 32px;
}

.imgcontain {
	height: 500px;
	width: 100%;
	box-shadow: 0 0 5px 0 grey;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #222222;
	padding: 0;
	position: relative;
}

.imgcontain>img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	transform:translateY(-50%);
	margin: auto;
	top: 250px;
	display: block;
	position: relative;
}

.projectlink {
	opacity: 0;
	transition: opacity .3s ease;
	background-color: #999999;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.projectlink:hover {
	transition: opacity .3s ease;
	opacity: 0.8;
	
}

.projectlink a {
	font-size: 16;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

.gitlink {
	margin: auto;
	display: block;
	position: relative;
	transform: translateY(-50%);
	top: 250px;
	width: 80px;
	height: 80px;
	transition: width 0.1s ease, height 0.2s ease;
}

.gitlink:hover {
	width: 100px;
	height: 100px;
	transition: width 0.1s ease, height 0.2s ease;
}

.gitlink:active {
	width: 90px;
	height: 90px;
	transition: width 0.1s ease, height 0.2s ease;
}
